flow_huawei_modbus_domoticz.json
[
    {
        "id": "9319e4e3925516d0",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cb0fb8dfc053fcd5",
        "type": "modbus-read",
        "z": "9319e4e3925516d0",
        "d": true,
        "name": "DC_W",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "0",
        "dataType": "HoldingRegister",
        "adr": "32080 ",
        "quantity": "1",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "beb129d2822f4a36",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 60,
        "wires": [
            [
                "77e2b2323ed11bf1"
            ],
            []
        ]
    },
    {
        "id": "a0d12a1a7e86ea20",
        "type": "debug",
        "z": "9319e4e3925516d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "77e2b2323ed11bf1",
        "type": "buffer-parser",
        "z": "9319e4e3925516d0",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint32be",
                "name": "DC_W",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 470,
        "y": 60,
        "wires": [
            [
                "a0d12a1a7e86ea20"
            ]
        ]
    },
    {
        "id": "0d9ae85a2623a0e3",
        "type": "modbus-read",
        "z": "9319e4e3925516d0",
        "name": "TEMP",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "0",
        "dataType": "HoldingRegister",
        "adr": "32087",
        "quantity": "1",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": true,
        "startDelayTime": "10",
        "server": "beb129d2822f4a36",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "67a72dc827f867f8"
            ],
            []
        ]
    },
    {
        "id": "67a72dc827f867f8",
        "type": "buffer-parser",
        "z": "9319e4e3925516d0",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "TEMP",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": true,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "5b175553857f762d",
                "88ef6028bfaec2eb"
            ]
        ]
    },
    {
        "id": "c1e2d08487aa841d",
        "type": "mqtt out",
        "z": "9319e4e3925516d0",
        "name": "",
        "topic": "domoticz/in",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "df5df878f384a004",
        "x": 790,
        "y": 100,
        "wires": []
    },
    {
        "id": "ec2cbd06fa878936",
        "type": "modbus-read",
        "z": "9319e4e3925516d0",
        "d": true,
        "name": "POWER",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "0",
        "dataType": "HoldingRegister",
        "adr": "32106",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "beb129d2822f4a36",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 140,
        "wires": [
            [
                "b9ca8eb65fab9020",
                "a0d12a1a7e86ea20"
            ],
            []
        ]
    },
    {
        "id": "b9ca8eb65fab9020",
        "type": "buffer-parser",
        "z": "9319e4e3925516d0",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint32be",
                "name": "POWER",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 473,
        "y": 148,
        "wires": [
            [
                "85d0d07f6ae7df27"
            ]
        ]
    },
    {
        "id": "85d0d07f6ae7df27",
        "type": "function",
        "z": "9319e4e3925516d0",
        "name": "",
        "func": "msg.payload.POWER = msg.payload.POWER *10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 120,
        "wires": [
            [
                "a0d12a1a7e86ea20"
            ]
        ]
    },
    {
        "id": "5b175553857f762d",
        "type": "modbus-getter",
        "z": "9319e4e3925516d0",
        "name": "PV_W",
        "showStatusActivities": true,
        "showErrors": true,
        "logIOActivities": false,
        "unitid": "0",
        "dataType": "HoldingRegister",
        "adr": "32080",
        "quantity": "2",
        "server": "beb129d2822f4a36",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 190,
        "y": 340,
        "wires": [
            [
                "f35cdd863c8b762f"
            ],
            []
        ]
    },
    {
        "id": "f35cdd863c8b762f",
        "type": "buffer-parser",
        "z": "9319e4e3925516d0",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int32be",
                "name": "PV_W",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": true,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 450,
        "y": 340,
        "wires": [
            [
                "0c454b35f1a2339f",
                "88ef6028bfaec2eb"
            ]
        ]
    },
    {
        "id": "0c454b35f1a2339f",
        "type": "modbus-getter",
        "z": "9319e4e3925516d0",
        "name": "EFI",
        "showStatusActivities": true,
        "showErrors": true,
        "logIOActivities": false,
        "unitid": "0",
        "dataType": "HoldingRegister",
        "adr": "32086",
        "quantity": "1",
        "server": "beb129d2822f4a36",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 190,
        "y": 400,
        "wires": [
            [
                "ac80cefb7f5be046"
            ],
            []
        ]
    },
    {
        "id": "ac80cefb7f5be046",
        "type": "buffer-parser",
        "z": "9319e4e3925516d0",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint16be",
                "name": "EFI",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": true,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "5cb0c697bd8a6e6b",
                "88ef6028bfaec2eb"
            ]
        ]
    },
    {
        "id": "5cb0c697bd8a6e6b",
        "type": "modbus-getter",
        "z": "9319e4e3925516d0",
        "name": "FREQ",
        "showStatusActivities": true,
        "showErrors": true,
        "logIOActivities": false,
        "unitid": "0",
        "dataType": "HoldingRegister",
        "adr": "32085",
        "quantity": "1",
        "server": "beb129d2822f4a36",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 190,
        "y": 460,
        "wires": [
            [
                "40590bd09ae1aee3"
            ],
            []
        ]
    },
    {
        "id": "40590bd09ae1aee3",
        "type": "buffer-parser",
        "z": "9319e4e3925516d0",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint16be",
                "name": "FREQ",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": true,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 450,
        "y": 460,
        "wires": [
            [
                "b440529c95dbf1c0",
                "88ef6028bfaec2eb"
            ]
        ]
    },
    {
        "id": "b440529c95dbf1c0",
        "type": "modbus-getter",
        "z": "9319e4e3925516d0",
        "name": "Producido kwh",
        "showStatusActivities": true,
        "showErrors": true,
        "logIOActivities": false,
        "unitid": "0",
        "dataType": "HoldingRegister",
        "adr": "32106",
        "quantity": "2",
        "server": "beb129d2822f4a36",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 220,
        "y": 520,
        "wires": [
            [
                "8a492292ec1f5b9d"
            ],
            []
        ]
    },
    {
        "id": "8a492292ec1f5b9d",
        "type": "buffer-parser",
        "z": "9319e4e3925516d0",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint32be",
                "name": "PV_KWH_TOTAL",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": true,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 450,
        "y": 520,
        "wires": [
            [
                "8053ebdfea574dbe",
                "88ef6028bfaec2eb"
            ]
        ]
    },
    {
        "id": "8053ebdfea574dbe",
        "type": "modbus-getter",
        "z": "9319e4e3925516d0",
        "name": "Meter W",
        "showStatusActivities": true,
        "showErrors": true,
        "logIOActivities": false,
        "unitid": "0",
        "dataType": "HoldingRegister",
        "adr": "37113",
        "quantity": "2",
        "server": "beb129d2822f4a36",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 200,
        "y": 580,
        "wires": [
            [
                "eab5d6e2aba2e6ad"
            ],
            []
        ]
    },
    {
        "id": "eab5d6e2aba2e6ad",
        "type": "buffer-parser",
        "z": "9319e4e3925516d0",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int32be",
                "name": "RED_W",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": true,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 450,
        "y": 580,
        "wires": [
            [
                "83df2244fe3becf4",
                "88ef6028bfaec2eb"
            ]
        ]
    },
    {
        "id": "83df2244fe3becf4",
        "type": "modbus-getter",
        "z": "9319e4e3925516d0",
        "name": "IMP KWH",
        "showStatusActivities": true,
        "showErrors": true,
        "logIOActivities": false,
        "unitid": "0",
        "dataType": "HoldingRegister",
        "adr": "37121",
        "quantity": "2",
        "server": "beb129d2822f4a36",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 200,
        "y": 640,
        "wires": [
            [
                "d6f992076c259066"
            ],
            []
        ]
    },
    {
        "id": "d6f992076c259066",
        "type": "buffer-parser",
        "z": "9319e4e3925516d0",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int32be",
                "name": "IMP_KWH",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": true,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 450,
        "y": 640,
        "wires": [
            [
                "6c85c6b63ec41f67",
                "88ef6028bfaec2eb"
            ]
        ]
    },
    {
        "id": "6c85c6b63ec41f67",
        "type": "modbus-getter",
        "z": "9319e4e3925516d0",
        "name": "EXP KWH",
        "showStatusActivities": true,
        "showErrors": true,
        "logIOActivities": false,
        "unitid": "0",
        "dataType": "HoldingRegister",
        "adr": "37119",
        "quantity": "2",
        "server": "beb129d2822f4a36",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 210,
        "y": 700,
        "wires": [
            [
                "e4e6cb9c2c4cd642"
            ],
            []
        ]
    },
    {
        "id": "e4e6cb9c2c4cd642",
        "type": "buffer-parser",
        "z": "9319e4e3925516d0",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int32be",
                "name": "EXP_KWH",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": true,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 450,
        "y": 700,
        "wires": [
            [
                "88ef6028bfaec2eb",
                "32733ac7ad4db192"
            ]
        ]
    },
    {
        "id": "88ef6028bfaec2eb",
        "type": "join",
        "z": "9319e4e3925516d0",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "11",
        "count": "10",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 670,
        "y": 600,
        "wires": [
            [
                "5d10dfb40c484ee1"
            ]
        ]
    },
    {
        "id": "d2b05a8b6fe84f04",
        "type": "function",
        "z": "9319e4e3925516d0",
        "name": "IMPORTADO",
        "func": "var acumulado       =   msg.payload.IMP_KWH*1000;\nvar power = msg.payload.RED_W * -1;\n \nmsg.topic = 'IMPORTADO';\nif(power<0){\n    power=0;\n}\n\n\n//{\"idx\":236,\"nvalue\":0,\"svalue\":\"1;276293.9\",\"Battery\":200,\"RSSI\":10}\nvar svalue = power + \";\"+acumulado;\nvar idx  = 54;\nmsg.payload = {};\nmsg.payload.idx = idx;\nmsg.payload.svalue = svalue;\nmsg.payload.nvalue =  0;\n\n\n \nif(acumulado==0){\n    return false;\n}else{\n    return msg;    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 580,
        "wires": [
            [
                "461e8fc15360d0ba"
            ]
        ]
    },
    {
        "id": "fd29652355a177c7",
        "type": "debug",
        "z": "9319e4e3925516d0",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 700,
        "wires": []
    },
    {
        "id": "488d3089e9f24345",
        "type": "function",
        "z": "9319e4e3925516d0",
        "name": "EXPORTADO",
        "func": "var acumulado       =   msg.payload.EXP_KWH*1000;\nvar power = msg.payload.RED_W;\n \nmsg.topic = 'exportado';\n\nif(power<0){\n    power=0;\n}\n\n//{\"idx\":236,\"nvalue\":0,\"svalue\":\"1;276293.9\",\"Battery\":200,\"RSSI\":10}\nvar svalue = power + \";\"+acumulado;\nvar idx  = 55;\nmsg.payload = {};\nmsg.payload.idx = idx;\nmsg.payload.svalue = svalue;\nmsg.payload.nvalue =  0;\n\n\n \nif(acumulado==0){\n    return false;\n}else{\n    return msg;    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 620,
        "wires": [
            [
                "461e8fc15360d0ba"
            ]
        ]
    },
    {
        "id": "2a87b23cf8e9f4a5",
        "type": "mqtt out",
        "z": "9319e4e3925516d0",
        "name": "",
        "topic": "domoticz/in",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "df5df878f384a004",
        "x": 1350,
        "y": 400,
        "wires": []
    },
    {
        "id": "35d2fbc27f5d38fc",
        "type": "function",
        "z": "9319e4e3925516d0",
        "name": "PRODUCCIÓN",
        "func": "var acumulado       =   msg.payload.PV_KWH_TOTAL*1000;\nvar power = msg.payload.PV_W;\n \nmsg.topic = 'PRODUCCIÓN';\n\nif(power<0){\n    power=0;\n}\n\n//{\"idx\":236,\"nvalue\":0,\"svalue\":\"1;276293.9\",\"Battery\":200,\"RSSI\":10}\nvar svalue = power + \";\"+acumulado;\nvar idx  = 57;\nmsg.payload = {};\nmsg.payload.idx = idx;\nmsg.payload.svalue = svalue;\nmsg.payload.nvalue =  0;\n\n \nif(acumulado==0){\n    return false;\n}else{\n    return msg;    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 660,
        "wires": [
            [
                "461e8fc15360d0ba"
            ]
        ]
    },
    {
        "id": "eb8486ceaf2e1327",
        "type": "function",
        "z": "9319e4e3925516d0",
        "name": "TEMPERATURA_INVERSOR",
        "func": " \nlet value  = msg.payload.TEMP ;\n \nmsg.topic = 'TEMPERATURA';\n \n\n\n//{\"idx\":236,\"nvalue\":0,\"svalue\":\"1;276293.9\",\"Battery\":200,\"RSSI\":10}\n \nvar idx  = 52;\nmsg.payload = {};\nmsg.payload.idx = idx;\nmsg.payload.svalue = value.toFixed(2);\nmsg.payload.nvalue =  0;\n\nif(parseInt(msg.payload.svalue)==0) {\n    return false;\n}else{\n    return msg;\n}\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 240,
        "wires": [
            [
                "461e8fc15360d0ba"
            ]
        ]
    },
    {
        "id": "a3e587eeed0c3743",
        "type": "debug",
        "z": "9319e4e3925516d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 120,
        "wires": []
    },
    {
        "id": "461e8fc15360d0ba",
        "type": "rbe",
        "z": "9319e4e3925516d0",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload.svalue",
        "topi": "topic",
        "x": 1170,
        "y": 540,
        "wires": [
            [
                "2a87b23cf8e9f4a5",
                "73691a191bd04fc5"
            ]
        ]
    },
    {
        "id": "3b7cea17e4950399",
        "type": "function",
        "z": "9319e4e3925516d0",
        "name": "FREQ",
        "func": " \nlet value  = msg.payload.FREQ ;\n \nmsg.topic = 'FRECUENCIA';\n \n\n\n//{\"idx\":236,\"nvalue\":0,\"svalue\":\"1;276293.9\",\"Battery\":200,\"RSSI\":10}\n \nvar idx  = 58;\nmsg.payload = {};\nmsg.payload.idx = idx;\nmsg.payload.svalue = value.toFixed(2);\nmsg.payload.nvalue =  0;\n\nif(parseInt(msg.payload.svalue)==0) {\n    return false;\n}else{\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 320,
        "wires": [
            [
                "461e8fc15360d0ba"
            ]
        ]
    },
    {
        "id": "32733ac7ad4db192",
        "type": "modbus-getter",
        "z": "9319e4e3925516d0",
        "name": "VOLTAJE",
        "showStatusActivities": true,
        "showErrors": true,
        "logIOActivities": false,
        "unitid": "0",
        "dataType": "HoldingRegister",
        "adr": "37101",
        "quantity": "2",
        "server": "beb129d2822f4a36",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 200,
        "y": 760,
        "wires": [
            [
                "2362b53c977a1166"
            ],
            []
        ]
    },
    {
        "id": "2362b53c977a1166",
        "type": "buffer-parser",
        "z": "9319e4e3925516d0",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int32be",
                "name": "VOLT",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": true,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 450,
        "y": 760,
        "wires": [
            [
                "88ef6028bfaec2eb",
                "186ded574ad7eacf"
            ]
        ]
    },
    {
        "id": "c91eeaf8454d940f",
        "type": "function",
        "z": "9319e4e3925516d0",
        "name": "VOLT",
        "func": " \nlet value  = msg.payload.VOLT ;\n \nmsg.topic = 'VOLT';\n \n\n\n//{\"idx\":236,\"nvalue\":0,\"svalue\":\"1;276293.9\",\"Battery\":200,\"RSSI\":10}\n \nvar idx  = 59;\nmsg.payload = {};\nmsg.payload.idx = idx;\nmsg.payload.svalue = value.toFixed(2);\nmsg.payload.nvalue =  0;\n\n \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 380,
        "wires": [
            [
                "461e8fc15360d0ba"
            ]
        ]
    },
    {
        "id": "244f91cb853f28d2",
        "type": "function",
        "z": "9319e4e3925516d0",
        "name": "EFICIENCIA",
        "func": " \nlet value  = msg.payload.EFI ;\n \nmsg.topic = 'EFICIENCIA';\n \n\n\n//{\"idx\":236,\"nvalue\":0,\"svalue\":\"1;276293.9\",\"Battery\":200,\"RSSI\":10}\n \nvar idx  = 60;\nmsg.payload = {};\nmsg.payload.idx = idx;\nmsg.payload.svalue = value.toFixed(2);\nmsg.payload.nvalue =  0;\n\n \nif(parseInt(msg.payload.svalue)==0) {\n    return false;\n}else{\n    return msg;\n}\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 460,
        "wires": [
            [
                "461e8fc15360d0ba",
                "fd29652355a177c7"
            ]
        ]
    },
    {
        "id": "fc271a99d0d3d402",
        "type": "debug",
        "z": "9319e4e3925516d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 960,
        "wires": []
    },
    {
        "id": "73691a191bd04fc5",
        "type": "debug",
        "z": "9319e4e3925516d0",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 620,
        "wires": []
    },
    {
        "id": "186ded574ad7eacf",
        "type": "modbus-getter",
        "z": "9319e4e3925516d0",
        "name": "STATUS",
        "showStatusActivities": true,
        "showErrors": true,
        "logIOActivities": false,
        "unitid": "0",
        "dataType": "HoldingRegister",
        "adr": "32089",
        "quantity": "1",
        "server": "beb129d2822f4a36",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 200,
        "y": 820,
        "wires": [
            [
                "2dc0e2095ecfc5ae"
            ],
            []
        ]
    },
    {
        "id": "2dc0e2095ecfc5ae",
        "type": "buffer-parser",
        "z": "9319e4e3925516d0",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint16be",
                "name": "STATUS_INT",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": true,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 450,
        "y": 820,
        "wires": [
            [
                "7af3fe6466bbc12d"
            ]
        ]
    },
    {
        "id": "7af3fe6466bbc12d",
        "type": "function",
        "z": "9319e4e3925516d0",
        "name": "Translate",
        "func": "let value  = parseInt(msg.payload) ;\nmsg.topic = 'ESTADO';\n \nmsg.payload = {};\n \nif (value==0) {\n    msg.payload = 'Inicializando';\n}else if (value==1) {\n    msg.payload = 'Detectando aislamiento';\n}else if (value==2) {\n    msg.payload = 'Detectando irradiación';\n}else if (value==3) {\n    msg.payload = 'Detectando drid';\n}else if (value==256) {\n    msg.payload = 'Iniciando';\n}else if (value==512) {\n    msg.payload = 'En Red';\n}else if (value==513) {\n    msg.payload = 'Potencia limitada';\n}else if (value==514) {\n    msg.payload = 'Auto-Reducción Fuera de la red.';\n}else if (value==515) {\n    msg.payload = 'Fuera de la red';\n}else if (value==768) {\n    msg.payload = 'Apagado Fallo';\n}else if (value==769) {\n    msg.payload = 'Cerrado dominio';\n}else if (value==770) {\n    msg.payload = 'Cerrado OVGR';\n}else if (value==771) {\n    msg.payload = 'Cerrado Comuniacción desconectado';\n}else if (value==772) {\n    msg.payload = 'Cerrado potencia limitada';\n}else if (value==773) {\n    msg.payload = 'Requerida puesta en marcha manual';\n}else if (value==774) {\n    msg.payload = 'Apagado CC Interruptores desconectados';\n}else if (value==775) {\n    msg.payload = 'Apagado rápido Corte';\n}else if (value==776) {\n    msg.payload = 'Apagado baja potencia de entrada';\n}else if (value==1025) {\n    msg.payload = 'Cuadrícula Planificación';\n}else if (value==1026) {\n    msg.payload = 'Cuadrícula Programación Q-U';\n}else if (value==1027) {\n    msg.payload = 'Cuadrícula Programación PF-U';\n}else if (value==1028) {\n    msg.payload = 'Cuadrícula Programación Contacto Seco';\n}else if (value==1029) {\n    msg.payload = 'Cuadrícula Programación Q-P';\n}else if (value==1280) {\n    msg.payload = 'Spot-Chequeo Listo';\n}else if (value==1281) {\n    msg.payload = 'Punto de comprobación';\n}else if (value==1536) {\n    msg.payload = 'Inspeccionando';\n}else if (value==1792) {\n    msg.payload = 'AFCI Autocomprobación ';\n}else if (value==2048) {\n    msg.payload = 'I-V Escaneo';\n}else if (value==2304) {\n    msg.payload = 'Detección de entrada de CC';\n}else if (value==2560) {\n    msg.payload = 'Carga fuera de la red';\n}else if (value==40960) {\n    msg.payload = 'En espera sin irradiación';\n}else{\n    msg.payload = value.toFixed(2);\n}\n\n \n \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 800,
        "wires": [
            [
                "88ef6028bfaec2eb"
            ]
        ]
    },
    {
        "id": "5d10dfb40c484ee1",
        "type": "function",
        "z": "9319e4e3925516d0",
        "name": "Otras operaciones",
        "func": "\n\nmsg.payload.CASA_W = msg.payload.PV_W +\n                     ( msg.payload.RED_W * -1);\n                     \nmsg.payload.CASA_KWH = msg.payload.PV_KWH_TOTAL +\n                      msg.payload.IMP_KWH -\n                      msg.payload.EXP_KWH ;\n                      \n                      \n                      \nmsg.payload.CASA_KWH  =  Number(msg.payload.CASA_KWH.toFixed(2));\nmsg.payload.VOLT      =  Number(msg.payload.VOLT.toFixed(2));\nmsg.payload.EFI       =  Number(msg.payload.EFI.toFixed(2));\nmsg.payload.FREQ      =  Number(msg.payload.FREQ.toFixed(2));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 640,
        "wires": [
            [
                "fc271a99d0d3d402",
                "eb8486ceaf2e1327",
                "3b7cea17e4950399",
                "c91eeaf8454d940f",
                "244f91cb853f28d2",
                "d2b05a8b6fe84f04",
                "488d3089e9f24345",
                "35d2fbc27f5d38fc",
                "dd57433009931a92"
            ]
        ]
    },
    {
        "id": "dd57433009931a92",
        "type": "function",
        "z": "9319e4e3925516d0",
        "name": "CASA",
        "func": "var acumulado       =   msg.payload.CASA_KWH*1000;\nvar power = msg.payload.CASA_W;\n \nmsg.topic = 'CASA';\n\n \n\n//{\"idx\":236,\"nvalue\":0,\"svalue\":\"1;276293.9\",\"Battery\":200,\"RSSI\":10}\nvar svalue = power + \";\"+acumulado;\nvar idx  = 72;\nmsg.payload = {};\nmsg.payload.idx = idx;\nmsg.payload.svalue = svalue;\nmsg.payload.nvalue =  0;\n\n \nif(acumulado==0){\n    return false;\n}else{\n    return msg;    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 700,
        "wires": [
            [
                "461e8fc15360d0ba"
            ]
        ]
    },
    {
        "id": "beb129d2822f4a36",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": false,
        "stateLogEnabled": true,
        "queueLogEnabled": false,
        "tcpHost": "192.168.200.1",
        "tcpPort": "6607",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "0",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": false
    },
    {
        "id": "df5df878f384a004",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
